* {
    margin : 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;

}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin : 120px auto 0;
    border-radius: 10px;
    padding : 30px;
}

.app {
    transition: 0.3s ease;
    opacity: 1;
    transform: (0.9);
    transition-delay: 0s;
}

.app.hidden {
    opacity: 0;
}


.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size : 18px;
    color :#001e4d;
}
.btn {
    background : #fff;
    color : #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: all 0.3s;
}

.btn:hover {
    background: #222;
    color: #fff;
}

a {
    text-decoration: none;
    color : white;
}
#next-btn {
    margin-top : 20px;
    float:right;
    background: #001e4d;
    color : #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius:4px;
    cursor: pointer;
    display: block;
}
#back-btn {
    margin-top: 20px;
    background: #001e4d;
    color : #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius:4px;
    cursor: pointer;
    display: block;
}

.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}

#question-image {
    margin-top: 10px;
    object-fit: cover;
    width: 100%;
}

#question-info, #total-time {
    margin-top: 10px;
    color:#1ab69d;
    font-style: bold;
}

#truefalse-time {
    margin-top: 10px;
    color:#1ab69d;
    font-style: bold;
    margin-left: 40px;
}

/* True False Box */
.true-false-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 700px;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    opacity: 0; /* Ti chinh thanh 1 */
    transition: 0.3 ease;
    pointer-events: none;
}

.true-false-box.active {
    opacity: 1;
    pointer-events:all;
}

.true-false-box h1 {
    margin-top : 20px;
    margin-left : 40px;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.true-false-box button {
    margin-top: 10px;
    background: #001e4d;
    color : #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius:4px;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 20px;
}


#result {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/* Result Box */

.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 600px;
    background: white;
    border :  2px solid #001e4d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3 ease;
}

.result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.result-box h2 {
    margin-top: 10px;
    font-size : 52px;
}
.result-box .buttons {
    display: flex;
}

.result-box .percentage-container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 20px 0 40px;
}
.title-percent {
    width: 100%;
}

#title-percent-1 {
    font-weight: 600;
    font-size: 20px;
    float:left;
    margin-left: 150px;
}

#title-percent-2 {
    font-weight: 600;
    font-size: 20px;
    float: right;
    margin-right: 110px;

}

.percentage-container .circular-progess {
    margin-left: 50px;
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#001e4d 3.6deg,rgba(255, 255, 255, 0.114) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progess_1 {
    margin-left: 10px;
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#001e4d 3.6deg,rgba(255, 255, 255, 0.114) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage-container .circular-progess_1::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: white;
    border-radius: 50%;

}
.progress-value_1 {
    position: relative;
    font-size : 45px;
    font-weight: 600;
}

.percentage-container .circular-progess::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: white;
    border-radius: 50%;

}

.progress-value {
    position: relative;
    font-size : 45px;
    font-weight: 600;
}
.score-text {
    margin-top : 15px;
    font-size : 26px;
    font-weight: 600;
}
.time-text {
    margin-top : 10px;
}

.buttons button {
    width: 130px;
    height: 47px;
    background:#001e4d;
    border: 2px solid #001e4d;
    outline: none;
    border-radius: 6px;
    color: white;
    font-size:16px;
    font-weight: 600;
    margin:0 20px 20px;
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
}

.buttons button:nth-child(2) {
    background: transparent;
    color:#001e4d;
}

.buttons button:nth-child(2) a {
    color: #001e4d;
}

.buttons button:nth-child(1):hover {
    background: transparent;
    color: #001e4d;
}

.buttons button:nth-child(2):hover {
    background: #001e4d;
}

.buttons button:nth-child(2) a:hover {
    color: white;
}
